/*

Add the initial of your name to your CSS classes so they don´t clash with the main file.

*/

/*---------Bara---------*/



/*---------Valentina---------*/

.velements {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.vbox1 {
    width: 50%;
    padding-left: 70px;

}

.vimage {

    width: 400px;
    float: right;
    padding-right: 70px;
}

.vbox2 {
    width: 50%;

}

.vheading {
    font-size: 25px;
    color: #3D4444;
}

.vtext {
    font-size: 14px;
    color: #3D4444;
    padding-bottom: 20px;
}



hr {
    margin-top: -20px;

}

.vinstagramheading {
    font-size: 25px;
    color: #3D4444;
}

.vinstagramtext {
    font-size: 14px;
    color: #3D4444;
}

.vimagesexapleinstagram {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vimageexample {
    width: 25%;
    padding: 30px;

}

.vexamplesheading {
    font-size: 25px;
    color: #3D4444;
    padding-left: 70px;
}

.vimageinstagram{
    width: 400px;
    float: right;
    padding-right: 70px;
}


/*---------Kristina---------*/

.ktdiv {
	margin-top: 20px;
}

.kttitle {
	font-family: 'Poppins', sans-serif;
    font-weight: 620;
    text-align: left;
    color: #3d3d3d;
    font-size: 40px;
}

.ktp {
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: left;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.ktfb {
	height: 40%;
	float: right;
}

.kttitle2 {
	font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: left;
    color: black;
    margin-bottom: 2px;
	padding-top: 150px;
    font-size: 30px;
}

.ktex {
	display: flex;
    flex-direction: row;
}

.ktimg {
	height: 350px;
	align-items: center;
	padding: 8px;
}

.ktimg3 {
	height: 680px;
	margin-left: 23rem;
	margin-top: 3rem;
}
