/*

Add the initial of your name to your CSS classes so they don´t clash with the main file.

*/

/*---------Bara---------*/



/*---------Valentina---------*/

.velements {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.vbox1 {
    width: 50%;
    padding-left: 70px;

}

.vimage {

    width: 400px;
    float: right;
    padding-right: 70px;
}

.vbox2 {
    width: 50%;

}

.vheading {
    font-size: 25px;
    color: #3D4444;
}

.vtext {
    font-size: 14px;
    color: #3D4444;
    padding-bottom: 20px;
}



hr {
    margin-top: -20px;

}

.vinstagramheading {
    font-size: 25px;
    color: #3D4444;
}

.vinstagramtext {
    font-size: 14px;
    color: #3D4444;
}

.vimagesexapleinstagram {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vimageexample {
    width: 25%;
    padding: 30px;

}

.vexamplesheading {
    font-size: 25px;
    color: #3D4444;
    padding-left: 70px;
}

.vimageinstagram{
    width: 400px;
    float: right;
    padding-right: 70px;
}


/*---------Kristina---------*/
